@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --bg: rgb(10,10,10);
    --text-primary: rgb(230,230,230);
    --text-secondary: rgb(100,100,100);
    --text-tertiary: rgb(40,40,40)
}

h1, .h1 {
    font-size: 2.125rem;
}

h2, .h2 {
    font-size: 1.875rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.25rem;
}

h5, .h5 {
    font-size: 1.125rem;
}

h6, .h6 {
    font-size: 1rem;
}

html, body {
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: var(--text-primary)
}

.text-secondary {
    color: var(--text-secondary)
}

.text-tertiary {
    color: var(--text-tertiary)
}

div.site-wrapper {
    width: 100%;
    height: 100%;
    background: var(--bg)
}

a {
    text-decoration: none;
}

section.utilities-list .list-container a.li::after {
    content: " •";
    color: var(--text-secondary);
    margin-inline: 5px;
}

/* TIMER SHIT DOWN HERE !!!! */

.letterChangeFx {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    /* background: red; */
    height: max-content;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.letterChangeFx .inner {
    position: relative;
    height: min-content;
    display: inline-block;
    translate: 0 0;
}

.letterChangeFx .inner .old, .letterChangeFx .inner .cur, 
.letterChangeFx .inner .old, .letterChangeFx .inner .old {
    padding: 0;
    margin: 0;
    height: min-content;
}

.letterChangeFx .inner .old, .letterChangeFx .inner .cur {
    font-size: 4rem;
}

.letterChangeFx .inner .old, .letterChangeFx .inner .old {
    font-size: 4rem;
    position: absolute;
    bottom: 100%;
}

.timer-countdown-container {
    opacity: 0;
    transition: opacity 0.3s, scale 0.2s cubic-bezier(.17,.67,.35,1.27);
    scale: 1 0;
}

.timer-countdown-container.visible {
    opacity: 1;
    scale: 1 1;
}

.timer-countdown-container .timer-countdown {
    font-size: 4rem;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
}

.timer-countdown-container .timer-countdown .group {
    margin: 0;
    padding: 0;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
}