:root {
    --bg: rgb(10,10,10);
    --text-primary: rgb(230,230,230);
    --text-secondary: rgb(100,100,100);
    --text-tertiary: rgb(40,40,40);
    --text-hyperlink: rgb(20, 102, 255);
}

@font-face {
    font-family: "Onest";
    src: url("fonts/Onest.ttf");
}

@font-face {
    font-family: "Cascadia";
    src: url("fonts/CascadiaCode.ttf");
}

h1, .h1 {
    font-size: 2.125rem;
}

h2, .h2 {
    font-size: 1.875rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.25rem;
}

h5, .h5 {
    font-size: 1.125rem;
}

h6, .h6 {
    font-size: 1rem;
}

html, body {
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: var(--text-primary);
    font-family: "Onest", sans-serif;
}

.text-secondary {
    color: var(--text-secondary)
}

.text-tertiary {
    color: var(--text-tertiary)
}

div.site-wrapper {
    width: 100%;
    height: 100%;
    background: var(--bg)
}

a {
    text-decoration: none;
    color: var(--text-hyperlink);
}

button:not(.controls-button) {
    all: unset;
    padding: 10px 12px;
    background: rgb(15,15,15);
    border-radius: 5px;
    min-height: min-content;
    min-width: min-content;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

button.selected:not(.controls-button) {
    background: var(--text-primary);
    color: black;
}

button.selected:not(.controls-button) img {
    filter: brightness(-100%);
}

section.utilities-list .list-container a.li:not(:nth-last-child(1))::after {
    content: " •";
    color: var(--text-secondary);
    margin-inline: 5px;
}

nav.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

nav.navbar .title {
    margin: 0;
}

/* TIMER SHIT DOWN HERE !!!! */

.letterChangeFx {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    /* background: red; */
    height: max-content;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.letterChangeFx .inner {
    position: relative;
    height: min-content;
    display: inline-block;
    translate: 0 0;
}

.letterChangeFx .inner .old, .letterChangeFx .inner .cur, 
.letterChangeFx .inner .old, .letterChangeFx .inner .old {
    padding: 0;
    margin: 0;
    height: min-content;
}

.letterChangeFx .inner .old, .letterChangeFx .inner .cur {
    font-size: 4rem;
}

.letterChangeFx .inner .old, .letterChangeFx .inner .old {
    font-size: 4rem;
    position: absolute;
    bottom: 100%;
}

.timer-countdown-container {
    opacity: 0;
    transition: opacity 0.3s, scale 0.2s cubic-bezier(.17,.67,.35,1.27);
    scale: 1 0;
}

.timer-countdown-container.visible {
    opacity: 1;
    scale: 1 1;
}

.timer-countdown-container .timer-countdown {
    font-size: 4rem;
    font-family: "Cascadia", monospace;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: rgb(15,15,15);
    width: min-content;
    padding: 10px;
    border-radius: 25px;
}

.timer-countdown-container .timer-countdown .countdown {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
}

.timer-countdown-container .timer-countdown .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer-countdown-container .timer-countdown .controls button {
    background: rgba(20,20,20);
    width: 2.2rem;
    height: 2.2rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1rem;
}

.timer-countdown-container .timer-countdown .controls button > i {
    scale: 1;
    transition: scale 0.3s ease;
}

.timer-countdown-container .timer-countdown .controls button:hover > i {
    scale: 1.2;
}

.timer-countdown-container .timer-countdown .controls button:active > i {
    scale: 1 0.8;
}

.timer-countdown-container .timer-countdown .controls button:active {
    filter: brightness(50%);
}

.timer-countdown-container .timer-countdown .group {
    margin: 0;
    padding: 0;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
}

.timer-countdown-container .timer-countdown .cs {
    padding-bottom: 10px;
    margin: 0;
}